
.ml-2{
    margin-left:2px;
}
.side-by-side {
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap; 
  }

  .word-wrap {
    word-break: break-all;
    // word-wrap: break-word;
    // overflow-wrap: break-word;
}